* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.hd-accordian {
    display: flex;
    height: 100vh;
}

.item {
    flex:1;
    border: 1px solid #000;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
}

.item:hover {
    flex: 2;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-position: center;
    transition: .3s;
    z-index: 1;
}

.item:hover .bg {
    opacity: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.profile {
    width: 200px;
    transform: translateY(60px);
    opacity: 1;
    transition: .3s cubic-bezier(0,.68,.31,.98) .2s 
}

.item:hover .profile {
    transform: translateY(0);
    opacity: 1;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-self: center;
}